<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxhxjy.roadmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".base.MyApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="BPUBZ-HB3RQ-5SB5M-GLB4U-2A4QF-E7FT7"/>
        <activity android:name=".ui.main.FlashActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" android:launchMode="singleInstance"/>
        <activity android:name=".ui.main.LoginActivity"/>
        <activity android:name=".ui.main.StationListActivity"/>
        <activity android:name=".ui.main.RealTimeDataListActivity"/>
        <activity android:name=".ui.main.AddDataContrastActivity"/>
        <activity android:name=".ui.main.AddDataCorrelationActivity"/>
        <activity android:name=".ui.main.AlertDetailActivity"/>
        <activity android:name=".ui.main.RegisterActivity"/>

        <activity android:name=".view.TakePictureActivity"/>

    </application>

</manifest>
